@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
	box-sizing: border-box;
}

body { background: #D2D8B3;
}







.hero-section {
  background: url(../images/healthhero.png);
  background-size:cover;
  text-align: center;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.hero-section-text {
  color:black;
}




.card {
  flex-direction: row;
  align-items: center;
  margin-top: 120;
  margin-bottom: 120;

}
.card-title {
  font-weight: 400;
}
.card img {
  width: 50%;
  border-top-right-radius: 0;
  border-bottom-left-radius: calc(0.25rem - 1px)
}
@media only screen and (max-width: 768px) {
  a {
    display: none;
  }
  .card-body {
    padding: 0 0 0.5em 1.2em;
  }
  .card-body .card-text {
    font-size: 50px;
  }
  .card img {
    width: 50%;
  }
}
@media only screen and (max-width: 1200px) {
  .card img {
    width: 40%;
  }
}















